.test {
    color: green;
}

/* form */

#tkt {
    text-align: center;
}

input[type="file"] {
    height: 0;
    width: 0;
    overflow: hidden;
}
  
input[type="file"] + label {
    border: 1px solid rgba(0,0,0,.2);
    padding: 5px;
    background: lavender;
}

.url_picture:hover {
    cursor: pointer;
    border-radius: 0.4em;
    background-color: #186fa5;
}

/* nav-bar */

.nav-boutton {
    background-color: #1DA1F2;
    border-width: 2em 4em;
    border-radius: 2.5em;
    border: 0.1em solid #000000;
}

.nav-boutton:hover {
    background-color: #186fa5;
}

.nav-link-text {
    margin-left: 1em;
    margin-right: 1em;
    color: #ffffff;
}

/* tweet */

/* .tweets {
    text-align: center;
} */
.set_tweet_picture {
    padding: 0% 10%;
    width: 100%;
    height: auto;
    border-radius: 0.4em;
}

.a_none {
    text-decoration: none;
    color: black;
}

.comment-item {
    border: 0.1em solid black;
    margin-bottom: 5%;
}

.svg {
    max-width: 100%;
    height: 2em;
}

.svg-light {
    max-width: 100%;
    height: 1.2rem;
}

.likes:hover {
    border: 0.1em solid red;
    box-shadow: 0.2em 0.2em 0.2em black;
}