@import url(https://fonts.googleapis.com/css?family=Lato:400,400italic,700|Sansita+One);
:root {
  --primary-color: #9A97F3;
  --secondary-color: #818cab;
  --font-color: #e1e1ff;
  --bg-color: #161625;
  --heading-color: #818cab;
}

[data-theme=dark] body{
  background-color: #161625;
  color:#e1e1ff;
  --primary-color: #9A97F3;
  --secondary-color: #818cab;
  --font-color: #e1e1ff;
  --bg-color: #161625;
  --heading-color: #818cab;
}
[data-theme=dark] label{
  background-color: #161625;
  color:#e1e1ff;
  --primary-color: #9A97F3;
  --secondary-color: #818cab;
  --font-color: #e1e1ff;
  --bg-color: #161625;
  --heading-color: #818cab;
}

[data-theme=dark] .twPc-div{
  background-color: #161625;
  color:#e1e1ff;
  --primary-color: #9A97F3;
  --secondary-color: #818cab;
  --font-color: #e1e1ff;
  --bg-color: #161625;
  --heading-color: #818cab;
}

[data-theme=dark] a{
  background-color: #161625;
  color:#e1e1ff;
  --primary-color: #9A97F3;
  --secondary-color: #818cab;
  --font-color: #e1e1ff;
  --bg-color: #161625;
  --heading-color: #818cab;
}



body {
  font-family: "Lato", sans-serif;
  background-color: var(--bg-color);
  color: var(--font-color);
  max-width: 90%;
  margin: 0 auto;
  font-size: calc(1rem + 0.25vh);
}
/*.light{
  background-color: #e1e1ff;
  color:#161625;
}
.light label{
  background-color: #e1e1ff;
  color:#161625;
}*/

/*.dark{
  background-color: #161625;
  color:#e1e1ff;
}
.dark label{
  background-color: #161625;
  color:#e1e1ff;
}*/
/*Slider Part*/
slider switch css 
.theme-switch-wrapper {
  display: flex;
  align-items: center;
}
.theme-switch-wrapper em {
  margin-left: 10px;
  font-size: 1rem;
}

.theme-switch {
  display: inline-block;
  height: 34px;
  position: relative;
  width: 60px;
}

.theme-switch input {
  display: none;
}
.slideur {
  background-color: #ccc;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: 0.4s;
}

.slideur:before {
  background-color: #fff;
  bottom: 4px;
  content: "";
  height: 26px;
  left: 4px;
  position: absolute;
  transition: 0.4s;
  width: 26px;
}

input:checked + .slideur {
  background-color: #66bb6a;
}

input:checked + .slideur:before {
  transform: translateX(26px);
}

.slideur.rounde {
  border-radius: 34px;
}

.slideur.rounde:before {
  border-radius: 50%;
}